/* Import Font. */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Start of Banner Heading Styles. */
.banner-heading {
    width: 1440px;
    height: 110px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-heading h3 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    margin: 30px 0px;
    padding-left: 120px;
    padding-top: 10px;
}

.download-resume-button {
    margin: 30px 0px;
    margin-right: 120px;
    padding: 5px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
}

/* End of Banner Heading Styles. */



/* Start of Banner Design Styles. */
.banner-design {
    max-width: 1440px;
    height: 652px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    background-image: url(./assets/Hero-bg.png);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.banner-image {
    margin-top: 26px;
    margin-bottom: 32px;
    width: 1440px;
    height: 300px;
    margin-bottom: 0px;
}

.banner-details {
    width: 1440px;
    height: 352px;
    margin-top: 0px 0px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin-top: -26px;
    padding-top: 0px;
}

.banner-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    opacity: 0.7;
    margin-top: -30px;
}

.contact-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-top: 55px;
}

.contact-link a {
    text-decoration: none;
    color: white;
    background: rgb(13, 19, 33);
    border: 1px solid black;
    border-radius: 8px;
    padding: 21px 24px;
}

/* End of Banner Design Styles. */


/* Start of Why Web Development Styles. */
.why-web-development-section {
    width: 1140px;
    height: 1395px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-web-development-container {
    padding: 50px 67px;
    background-image: linear-gradient(rgb(255, 255, 255),
            rgba(255, 255, 255, 0));
}

.why-web-development-title {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.why-web-development-description {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 0px;
}

.development-banner-first {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 20px;
}

.banner-first-description {
    width: 576px;
}

.banner-first-description h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-top: 16px;
}

.banner-first-description p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 32px;
}

.learn-more-button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
}

.development-banner-first img {
    padding-left: 30px;
}

.development-banner-first {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 18px;
}

.development-banner-second {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 18px;
}

.banner-second-description {
    width: 576px;
}

.banner-second-description h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-top: 16px;
}

.banner-second-description p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 32px;
}

.development-banner-second img {
    padding-right: 30px;
}

.development-banner-third {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 18px;
    margin-bottom: 0px;
}

.banner-third-description {
    width: 576px;
}

.banner-third-description h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-top: 16px;
}

.banner-third-description p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 32px;
}

.development-banner-thrid img {
    padding-left: 30px;
}

/* End of Why Web Development Styles. */



/* Start of My Inspiration Styles. */
.my-inspiration-section {
    width: 1140px;
    height: 777px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 88px;
}

.inspiration-heading {
    text-align: center;
}

.inspiration-heading h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.inspiration-heading p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.inspiration-video {
    margin-top: 38px;
    text-align: center;
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration-video iframe {
    width: 1076px;
    height: 550px;
    padding: 32px;
}

/* End of My Inspiration Styles. */




/* Start of My Current Target Styles. */
.my-current-target-section {
    width: 1140px;
    height: 463px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 145px;
}

.current-target-heading {
    text-align: center;

}

.current-target-heading h1 {
    margin-top: 0px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.current-target-heading p {
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    opacity: 0.7;
}

.current-target-details {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.html,
.css,
.javascript {
    padding: 40px;
}

.html {
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
}

.css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.javascript {
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
}

.current-target-details a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* End of My Current Target Styles. */


/* Start of Support Styles. */
.support-section {
    width: 1140px;
    height: 314px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 41px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(./assets/handshake.jpg);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: 1140px 314px;
}

.support-container {
    text-align: center;
    padding: 64px 48px;
}

.support-container h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}

.support-container p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    opacity: 0.7;
}

input[type=text] {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}

input[type="button"] {
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

/* End of Support Styles. */



/* Start of Footer-Final Styles. */
.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.footer-section {
    width: 1440px;
    height: 100px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-top: 78px;
}

.footer-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Start of Footer-Final Styles. */